section(ng-if="repoctl.repo.commits" class="commits")
  h3 {{repoctl.repo.full_name}} Commits:
  table
    tr
      th Sha
      th Date
      th Author

    tr(ng-repeat="commit in repoctl.repo.commits")
      td {{commit.sha}}
      td {{commit.commit.author.date|date:'yyyy-MM-dd HH:mm'}}
      td {{commit.commit.author.name}}
